extends ../layouts/sign

block content
  h5 Reset password

  form
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Username or email' required='' autofocus='')
    button.btn.btn-primary.btn-lg.btn-block Submit
    hr
    p.text-muted Take a different action.
    a.btn.btn-sm.btn-outline-light.mr-1(href='/register') Register now!
    |         or
    a.btn.btn-sm.btn-outline-light.ml-1(href='/login') Login!