#call.modal.call.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' style='display: none;' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-body
          .call
            .call-background(style='background: url(dist/images/call-bg.png)')
            div
              figure.mb-4.avatar.avatar-xl
                img.rounded-circle(src='dist/images/women_avatar1.jpg')
              h4.text-center Jennica Kindred calling ...
              .action-button
                button.btn.btn-danger.btn-floating.btn-lg(type='button' data-dismiss='modal')
                  i.ti-close
                button.btn.btn-success.btn-pulse.btn-floating.btn-lg(type='button')
                  i.fa.fa-phone
