extends ../../layouts/sign

block content
  h5 Create account

  form#emailRegister
    p(style='color:red;')=msg
    .form-group.input-group-lg
      input#firstName.form-control(type='text' name='firstName' placeholder='Firstname' required='' autofocus='')
    .form-group.input-group-lg
      input#lastName.form-control(type='text' placeholder='Lastname'  name='lastName'  required='')
    .form-group.input-group-lg
      input#email.form-control(type='email' placeholder='Email' name='email'  required='')
    .form-group.input-group-lg
      input#pwd.form-control(type='password' placeholder='Password' name='password' required='')
    .form-group.input-group-lg
      #recaptcha-container
    button.btn.btn-primary.btn-lg.btn-block(type="submit") Register
    hr
    p.text-muted Already have an account?
    a.btn.btn-outline-light.btn-sm(href='/login') Sign in!
