extends ../../layouts/sign

block content
  h5 Create account
    form#login_step_1
      .form-group.input-group-lg
        input#phoneNumber.form-control(type='number' placeholder='Phone number' name='phoneNumber'  required='')
      .form-group.input-group-lg
        #recaptcha-container(style="display: none")
      button(type = "submit").btn.btn-primary.btn-lg.btn-block Get code
    form#login_step_2(style="display:none")
      .form-group.input-group-lg
        input#code.form-control(type='text' placeholder='code' name='code'  required='')
      button(type ="submit").btn.btn-primary.btn-lg.btn-block Register
    
    hr
    p.text-muted Already have an account?
    a.btn.btn-outline-light.btn-sm(href='/login') Sign in!
