extends ../../layouts/sign

block content
  h5 Verify your email to use your account
  
  a.btn.btn-outline-light.btn-sm(href='https://mail.google.com/') Email !
  hr
  a.btn.btn-outline-light.btn-sm(href='/login') Sign in!
