extends ../../layouts/sign

block content
  h5 Register

  .register-option
    a.btn.btn-email(href='/register-email')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Register with Email

    a.btn.btn-primary(href='/register-phone-number')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Register with Phone Number
