extends ../../layouts/sign

block content
  h5 Verifiy your email to use this account ! 
    a.btn.btn-outline-light.btn-sm(href='https://mail.google.com/')
    hr
    a.btn.btn-outline-light.btn-sm(href='/login') Sign in now !
