extends ../../layouts/app

block content
  // sidebar group
  .sidebar-group
    // Chats sidebar
    include partials/chats-sidebar

    // Friends sidebar
    include partials/friends-sidebar

    // Favorites sidebar
    include partials/favorites-sidebar

  // chat
  .chat
    .chat-header
      .chat-header-user
        figure.avatar.avatar-lg
          img.rounded-circle(src='dist/images/man_avatar3.jpg')
        div
          h5 Karl Hubane
          small.text-muted
            i Online
      .chat-header-action
        ul.list-inline
          li.list-inline-item
            a.btn.btn-success(href='#')
              i.fa.fa-phone(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#')
              i.fa.fa-video-camera(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#' data-toggle='dropdown' aria-expanded='false')
              i.ti-more
            .dropdown-menu.dropdown-menu-right(x-placement='bottom-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1222px, 68px, 0px);')
              a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
              a.dropdown-item(href='#') Add to archive
              a.dropdown-item(href='#') Delete
              .dropdown-divider
              a.dropdown-item(href='#') Block
    .chat-body(tabindex='2' style='overflow: hidden; outline: none;')
      // .no-message
      //
        <div class="no-message-container">
        <i class="fa fa-comments-o"></i>
        <p>Select a chat to read messages</p>
        </div>
      .messages
        .message-item.outgoing-message
          .message-content
            | Hey, Maher! I&apos;m waiting for you to send me the files.
          .message-action
            | Am 09:34 
            i.ti-double-check
        .message-item
          .message-content
            | I&apos;m sorry :( I&apos;ll send you as soon as possible.
          .message-action
            | Pm 14:20
        .message-item.outgoing-message
          .message-content
            | I&apos;m waiting. Thank you :)
          .message-action
            | Pm 14:25 
            i.ti-double-check
        .message-item
          .message-content
            | I&apos;m sending files now.
          .message-action
            | Pm 14:20
        .message-item
          .message-content.message-file
            .file-icon
              i.ti-file
            div
              div
                | important_documents.pdf 
                i.text-muted.small (50KB)
              ul.list-inline
                li.list-inline-item
                  a(href='#') Download
                li.list-inline-item
                  a(href='#') View
          .message-action
            | Pm 14:25
        .message-item.outgoing-message
          .message-content
            | Thank you so much. After I review these files, I will give you my opinion. If there&apos;s a
            | problem, you can send it back. Good luck with!
          .message-action
            | Pm 14:50 
            i.ti-info-alt.text-danger(title='Message could not be sent')
        .message-item
          .message-content
            | I can&apos;t wait
          .message-action
            | Pm 15:00
        .message-item.outgoing-message
          .message-content
            | I know how important this file is to you. You can trust me ;)
          .message-action
            | Pm 14:50 
            i.ti-double-check
        .message-item
          .message-content Lorem ipsum dolor sit amet.
          .message-action PM 14:25 
    .chat-footer
      form(action='')
        input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='button-addon2')
        .form-buttons
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-paperclip
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-microphone
          button.btn.btn-primary.btn-floating(type='submit')
            i.fa.fa-send
  // ./ chat
  include partials/friend-profile
