#friends.sidebar
      header
        span Friends
        ul.list-inline
          li.list-inline-item
            a.btn.btn-light(href='#' data-toggle='modal' data-target='#addFriends')
              i.ti-plus.btn-icon
              |  Add Friends
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search chat')
      .sidebar-body(tabindex='4' style='overflow: hidden; outline: none;')
        ul.list-group.list-group-flush
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/women_avatar5.jpg')
            .users-list-body
              h5 Harrietta Souten
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                span.avatar-title.bg-success.rounded-circle A
            .users-list-body
              h5 Aline McShee
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/women_avatar1.jpg')
            .users-list-body
              h5 Brietta Blogg
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/man_avatar3.jpg')
            .users-list-body
              h5 Karl Hubane
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/man_avatar2.jpg')
            .users-list-body
              h5 Jillana Tows
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                span.avatar-title.bg-info.rounded-circle AD
            .users-list-body
              h5 Alina Derington
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                span.avatar-title.bg-warning.rounded-circle S
            .users-list-body
              h5 Stevy Kermeen
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/man_avatar1.jpg')
            .users-list-body
              h5 Stevy Kermeen
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                img.rounded-circle(src='dist/images/man_avatar5.jpg')
            .users-list-body
              h5 Gloriane Shimmans
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete
          li.list-group-item
            div
              figure.avatar
                span.avatar-title.bg-secondary.rounded-circle B
            .users-list-body
              h5 Bernhard Perrett
              p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              .users-list-action.action-toggle
                .dropdown
                  a(data-toggle='dropdown' href='#')
                    i.ti-more
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='#') Open
                    a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                    a.dropdown-item(href='#') Add to archive
                    a.dropdown-item(href='#') Delete